<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>World Tracking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>849AC19B1F8FA91A000B6CC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849AC1AF1F8FA91B000B6CC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849AC1BA1F8FA91B000B6CC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
